* {
  box-sizing: border-box;
}

body {
  margin: 0;
}
.Navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #2b3a55;
  color: #f2e5e5;
  padding: 12px;
}

.Navbar ul {
  list-style: none;
  display: flex;
  gap: 10px;
}

.About {
  margin: 12px;
  width: 400px;

  border-radius: 5px;
  padding: 10px;
  background-color: #e8c4c4;
  color: #2b3a55;
  box-shadow: 3px 3px #ce7777;
}

.photoCollage {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(8, 5vw);
  grid-gap: 15px;
  padding: 12px;
}

.photoCollage--photo {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.photo1 {
  grid-column-start: 3;
  grid-column-end: 6;
  grid-row-start: 1;
  grid-row-end: 4;
}

.photo2 {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 5;
}

.photo3 {
  grid-column-start: 3;
  grid-column-end: 5;
  grid-row-start: 4;
  grid-row-end: 9;
}

.photo4 {
  grid-column-start: 5;
  grid-column-end: 9;
  grid-row-start: 4;
  grid-row-end: 9;
}

.photo5 {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 5;
  grid-row-end: 9;
}

.photo6 {
  grid-column-start: 6;
  grid-column-end: 9;
  grid-row-start: 1;
  grid-row-end: 4;
}
